// Reset

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Variable color

:root{
    --font : #fff;
    --backgroundLight : #10408463;
    --backgroundNight : #001026;
    --backgroundMain : #fff;
    // --linearDarkMode : linear-gradient(150deg, rgba(8,36,79,1) 0%, rgba(19,76,181,1) 47%, rgba(11,66,171,1) 100%);
}

// Responsive

@mixin responsive($width) {
    @media only screen and (min-width: $width) {
        @content;
    }
}

// Body

body{
    font-family: "Montserrat", sans-serif;
    color:var(--font);
    background: var(--backgroundMain);
    height: 100%;
}

// Header

header{
    display: flex;
    justify-content: center;
    flex-direction: column;
    .location{
        margin: 20px 10px;
        display: flex;
        input{
            margin-left: 5px;
            width: 100px;
            border-radius: 10px;
            border: none;
            text-indent: 10px;
        }
        select{
            display: none;
        }
    }

    .today--main{
        display: flex;
        flex-direction: column;
        align-items: center;
        img{
            width: 187px;
            height: auto;
        }
        .today--temperature{
            font-size: 64px;
            font-weight: 500;
            margin: 5px 0;
        }
        .today--precipitation{
            font-weight: 400;
            margin: 5px 0;
        }
        .today--minmax{
            font-size: 16px;
            margin: 5px 0;
        }
        .today--other{
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 75%;
            background: var(--backgroundLight);
            border-radius: 20px;
            padding: 5px;
            div{
                display: flex;
                align-items: center;
            }
        }
    }
}

// Main

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    .today--hourByHour{
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 20px;
        background-color: var(--backgroundLight);
        margin: 40px 0;
        width: 90%;
        hr{
            width: 90%;
        }
        .today__header{
            display: flex;
            justify-content: space-between;
            width: 100%;
            padding: 20px;
            h2{
                font-size: 20px;
            }
        }
        .today__main{
            display: flex;
            justify-content: space-evenly;
            width: 100%;
            padding: 20px 0;
            img{
                width: 60px;
                margin: 10px 0;
            }
            .today--hour{
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
    }
    .forecast{
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 20px;
        background-color: var(--backgroundLight);
        margin: 40px 0;
        width: 90%;
        hr{
            width: 90%;
        }
        .forecast__header{
            display: flex;
            justify-content: space-between;
            width: 100%;
            padding: 20px;
            h2{
                font-size: 20px;
            }
        }
        .forecast__main{
            display: flex;
            flex-direction: column;
            width: 100%;
            padding: 20px 0;
            img{
                width: 30px;
                margin:0 20%
            }
            .forecast--day{
                display: grid;
                grid-template-columns: 1fr 2fr 1fr;
                justify-items: center;
                align-items: center;
                margin: 10px 0;
                padding: 0 20px;
                div{
                    display: flex;
                    p{
                        margin-left: 10px;
                        font-size: 12px;
                    }
                    .minTemperature{
                        color:rgb(81, 80, 80)
                    }
                }
                img{
                    width: 60px;
                }
            }
        }
    }
}